{% extends 'index.htm' %}
{% load static %}
{% block title %} DOLOR | Редактировать видео {% endblock %}
{% block content %}
    <div class="content">
        <div class="container add_review_block">
            <div class="add_photo_background_block">
                <div class="inner_add_photo_background_block">
                    <p class="heading_txt">Редактировать видео</p>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label class="input-file">
                            {{ form.cover }}
                            <span class="btn">Выбрать новую обложку</span>
                        </label>
                        <label class="input-file" style="margin-top: 10px">
                            {{ form.video }}
                            <span class="btn">Выбрать новое видео</span>
                        </label>
                        <p class="label">Описание:</p>
                        {{ form.description }}
                        <!-- <label><input type="checkbox" name="video_is_public[]" value="1"> Публичное</label> -->
                        <p class="label">Теги (через запятую):</p>
                        {{ form.tags }}
                        <p class="label">Альбом:</p>
                        {{ form.album }}
                        <p class="label">Округ:</p>
                        {{ form.region }}
                        <input class="btn upload_button" type="submit" value="Готово"> <br>
                        <a href="{% url 'delete_video' video.id %}" id="delete-link" class="delete_link"><img src="{% static 'assets/img/delete.svg' %}">Удалить видео</a>
                    </form>
                </div>
            </div>

            <div class="photo_review_block review_block">
                <video id="video_review_block" src="{{ video.video.url }}" autoplay loop></video>
            </div>
        </div>
    </div>
    <script defer type="text/javascript" rel="script" src="{% static 'assets/js/script_add_video.js' %}"></script>
    <script defer type="text/javascript" rel="script" src="{% static 'assets/js/script_add_photo.js' %}"></script>
{% endblock %}