{% extends 'index.htm' %}
{% load static %}
{% block title %} DOLOR | Main {% endblock%}
{% block content %}
    <div class="content">
        <div class="container">
            <div class="row g-3">
                {% for photo in photos %}
                    {% if photo.album.status or photo %}
                        <a href ="{% url 'photo' photo.id %}" class="col-xl-2 col-md-3 col-sm-12">
                            <div class="crop_box_img">
                                <img class="published_img card-img-top" src="{{ photo.reducted.url }}" alt="Card image cap" style="transform: scale(1) rotate({{ photo.rotation }}deg); filter: brightness({{ photo.brightness }}) contrast({{ photo.contrast }});">
                            </div>
                            <div class="published_img_info">
                                <div class="user_photo_box">
                                    <img src="{{ photo.owner.avatar.url }}" class="user_photo_img">
                                </div>
                                <div class="user_name">
                                    <p>@{{ photo.owner }}</p>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="row g-3">
                {% for video in videos %}
                    {% if video.album.status or video %}
                        <a href ="{% url 'video' video.id %}" class="col-xl-2 col-md-3 col-sm-12">
                            <div class="crop_box_img">
                                <img class="published_video published_album_img card-img-top" src="{{ video.cover.url }}">
                                <img class="play_btn " src="{% static 'assets/img/playbtn1.png' %}">
                            </div>
                            <div class="published_img_info">
                                <div class="user_photo_box">
                                    <img src="{{ video.owner.avatar.url }}" class="user_photo_img">
                                </div>
                                <div class="user_name">
                                    <p>@{{ video.owner }}</p>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}