{% extends 'index.htm' %}
{% load static %}
{% block title %} DOLOR | Видео {% endblock %}
{% block content %}
    <div class="content padding_content">
        <div class="container">
            <a href="{{ request.META.HTTP_REFERER }}" class="arrow_back">
                <img src="{% static 'assets/img/arrow_back.png' %}">
            </a>
            {% for video in videos %}
                {% if video.album.status %}
                    <div class="row all_media_full">
                        <div class="col carousel  photo_view_full">
                            <img src="{{ video.cover.url }}" class="pic photo_view_full_img" alt="" style="transform: scale(1) rotate({{ album.rotation }}deg); filter: brightness({{ album.brightness }}) contrast({{ album.contrast }});">
                            <video class="pic photo_view_full_img" autoplay muted loop src="{{ video.video.url }}"></video>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev" id="back">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next" id="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="col photo_view_information">
                            <div class="published_img_info">
                                <div class="view_photo_user_img user_photo_box">
                                    <img src="uploads/{{ video.owner.avatar }}" class="user_photo_img">
                                </div>
                                <div class="user_name view_user_name">
                                    <a href="{% url 'user_profile' video.owner.id %}" class="heading_txt">@{{ video.owner }}</a>
                                    <a href="uploads/{{ video }}" class="download_btn" download><img src="{% static 'assets/img/download.png' %}"></a>
                                </div>
                            </div>
                            <div class="view_media_description">
                                <!-- если пользователь является создателем видео (то ему доступна кнопка редактирования)-->
                                {% if request.user == video.owner %}
                                    <a href="{% url 'edit_video' video.id %}"><img src="{% static 'assets/img/edit.svg' %}" class="edit_btn"></a>
                                {% endif %}
                                {{ video.description }}
                            </div>
                            <div class="view_photo_hashtag_str grey_txt">
                                <p>{{ video.tags }}</p>
                            </div>
                            <div class="view_photo_album_str grey_txt">Альбом: {% if video.album is None %} Без альбома {% else %} {{ video.album }} {% endif %}</div>
                            <div class="view_photo_album_str grey_txt">Округ: {% if video.region is None %} Н/У {% else %} {{ video.region }} {% endif %}</div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <script defer type="text/javascript" rel="script" src="{% static 'assets/js/script_all_albums_slider.js' %}"></script>
{% endblock %}